.inputContainer{


}
.titleInputContainer{
    font-size: 14px;
}
.descInputContainer{
    word-wrap: break-word;
    font-size: 14px;

}
.post {
    

    background-color: beige;
    display: inline-block;
    margin: 10px;
    height: 125px;
    max-width: 300px;
}

.postDeleteButton {
    
    color: red;
    border: none;
    background-color: beige;
    padding: 15px;
    
    float: right;
    
}
.postHeader{
    

}

.postTitle {
    padding-left: 10px;
    float: left;

    
}

.postText {


    clear: both;
    word-wrap: break-word;
    word-break: break-all;
    height: 50px;

    background-color: beige;
    width: 280px;
    border: none;
    padding-left: 10px;
    overflow: hidden;
    resize: none;
}


